<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- AND-04 fail-closed 備份政策（docs/decisions.md ADR #43）：token／
         加密 Hive／聊天與圖片等敏感資料一律不進雲端備份與換機轉移。
         allowBackup=false 為主閘，兩份 rules 檔是防未來誤開 allowBackup
         的第二道欄（官方九個 domain 全域 exclude）。OEM 轉移工具是否尊重
         此設定不能只看 XML，實機驗證步驟見
         docs/launch-readiness-checklist.md §6。 -->
    <application
        android:label="VibeSync"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- AUTH-01 Email callback contract：
                 contracts/email-auth-callback.json。signup confirmation、
                 resend、password recovery 共用此 URI，且只由 MainActivity
                 擁有；OAuth 的 login-callback 仍只由下方 CallbackActivity
                 擁有，避免兩條流程出現 chooser。 -->
            <intent-filter android:label="vibesync-email-auth">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="com.poyutsai.vibesync"
                    android:host="email-callback" />
            </intent-filter>
        </activity>
        <!-- AND-03 凍結契約（機器可讀版：contracts/auth-callback.json）：
             com.poyutsai.vibesync://login-callback 的唯一擁有者是
             flutter_web_auth_2 4.1.0 的 CallbackActivity。MainActivity
             不得重複宣告同 OAuth host；同 scheme 只有 email-callback 可由
             MainActivity 擁有，否則同一 URI 兩個 activity 都匹配會跳選擇器，
             Google OAuth 回不了 App。Supabase OAuth redirect allowlist
             沿用既有同一 URI 條目，Email URI 另列。
             Email callback 另見 MainActivity 上方的 AUTH-01 contract；
             不得把 email-callback 加到此 activity。 -->
        <activity
            android:name="com.linusu.flutter_web_auth_2.CallbackActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth_2">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="com.poyutsai.vibesync"
                    android:host="login-callback" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- flutter_local_notifications：排程通知到期時的顯示 receiver。
             plugin 18.x 的 library manifest 不含此宣告，必須 app 端手動加，
             否則 48h 跟進通知到期會靜默不顯示（Codex 案4 F1）。
             boot 持久化刻意不做，故不加 ScheduledNotificationBootReceiver /
             RECEIVE_BOOT_COMPLETED（最小化送審面權限）。 -->
        <receiver
            android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
